<header class="pb-3">
  <h1>Creatures</h1>
</header
>
<ul class="flex flex-col gap-2">
  <% @creatures.each do |creature| %>
    <%= render partial: "small_card", locals: { creature: creature } %>
  <% end %>
</ul>

<div class="pt-3">
  <%= link_to "New Creature", new_creature_path %>
</div>
